/* CSS for Forgot Password Page */
.resetpassword-page {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS for Forgot Password container */
.resetpassword-container {
    width: 600px;
    min-height: 250px;

    border: 0 solid transparent;
    border-radius: 14px;

    box-shadow: 1px 1px 3px 1px #DDD;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

/* CSS for Container Header */
.resetpassword-container .container-header {
    min-height: 56px;

    padding: 10px 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* CSS for Body Container */
.resetpassword-container .container-body {
    padding: 15px 30px;

    min-height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

/* CSS for Body Middle */
.resetpassword-container .body-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* CSS for Link */
.resetpassword-container .link {
    padding: 10px 20px;

    border: 0 solid transparent;
    border-radius: 14px;

    box-shadow: 1px 1px 3px 1px #DDD;

    color: #262626;

    text-decoration: none;
}

/* CSS for Merfogram Logo */
.merfogram-logo {
    height: 56px;

    object-fit: contain;
}

/* CSS for Input Email */
.resetpassword-container .input-password {
    outline: none;

    width: 100%;
    height: 32px;

    border: 0 solid transparent;
    border-radius: 14px;

    box-shadow: 1px 1px 3px 1px #DDD;

    text-indent: 9px;

    color: #262626;

    font-size: 1rem;

}

/* CSS for Reset Password Button */
.resetpassword-container .reset-password-button {
    margin-top: 20px;
}