.smaller-avarta{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.small-avarta{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.small2-avarta{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.medium-avarta{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.mediumer-avarta{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.large-avarta{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}